body {
	margin: 60px;
	font-size: 20px;
}

#app {
	display: flex;
	flex-direction: column;
	align-self: center;
}

#poem {
	/* border-style: solid; */
	padding: 20px;
	margin: 20px;
	font-size: 20px;
	font-family: monospace;
	display: flex;
	align-items: center;
	justify-content: center;
}

.diagonal3 {
	line-height: 48px;

	& .first {
		display: inline-block;
		transform: rotate(300deg);
	}

	& .last {
		display: inline-block;
		transform: rotate(60deg);
	}
}

.diagonal4 {
	line-height: 40px;

	& span {
		display: inline-block;
		transform: rotate(20deg);
	}
}

.diagonal1 {
	line-height: 80px;
	& .even {
		display: inline-block;
		transform: rotate(8deg);
	}

	& .odd {
		display: inline-block;
		transform: rotate(-8deg);
	}
}

.diagonal2 {
	line-height: 42px;
	& .even {
		display: inline-block;
		transform: rotate(8deg);
	}

	& .odd {
		display: inline-block;
		transform: rotate(-8deg);
	}
}

.variation7 {
	line-height: 42px;
}

.vertical1 {
	line-height: 100px;
}

.vertical1 .word {
	display: inline-block; /* Needed for transform to work */
	transform: rotate(-90deg);
}

.vertical2 {
	transform: rotate(-90deg);
	line-height: 42px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.vertical2 pre {
	text-align: end;
}

.vertical3 {
	transform: rotate(-90deg);
	line-height: 42px;
}

.vertical4 {
	display: flex;
	column-gap: 60px;
}

.vertical4Line {
	display: flex;
	flex-direction: column;
}

.vertical4 span {
	min-height: 1em;
}
