body {
	margin: 60px;
	font-size: 20px;
	font-family: monospace;
}

a {
	color: black;
	margin: 5px;
}

a:hover {
	text-decoration: none;
	font-weight: bolder;
}

.selected {
	text-decoration: none;
	font-weight: bolder;
}

.unselected {
	text-decoration: underline;
	font-weight: normal;
}

.link-row {
	padding: 8px;
	font-size: 12px;
}

#app {
	display: flex;
	flex-direction: column;
	align-self: center;
}

#poem {
	padding: 20px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.diagonal3 {
	line-height: 48px;

	& .first {
		display: inline-block;
		transform: rotate(300deg);
	}

	& .last {
		display: inline-block;
		transform: rotate(60deg);
	}
}

.diagonal4 {
	line-height: 40px;

	& span {
		display: inline-block;
		transform: rotate(20deg);
	}
}

.diagonal1 {
	line-height: 80px;
	& .even {
		display: inline-block;
		transform: rotate(8deg);
	}

	& .odd {
		display: inline-block;
		transform: rotate(-8deg);
	}
}

.diagonal2 {
	line-height: 42px;
	& .even {
		display: inline-block;
		transform: rotate(8deg);
	}

	& .odd {
		display: inline-block;
		transform: rotate(-8deg);
	}
}

.vertical1 {
	line-height: 100px;
}

.vertical1 .word {
	display: inline-block;
	transform: rotate(-90deg);
}

.vertical2 {
	transform: rotate(-90deg);
	line-height: 42px;
}

.vertical2 pre {
	text-align: end;
}

.vertical3 {
	transform: rotate(-90deg);
	line-height: 42px;
}

.vertical4 {
	display: flex;
	column-gap: 60px;
}

.vertical4Line {
	display: flex;
	flex-direction: column;
}

.vertical4 span {
	min-height: 1em;
}

.snow1 {
	position: relative;
	/* align-items: center; */
	justify-content: center;
	width: 200px;
	height: 200px;

	display: flex;
	flex-direction: column;

	transform: translate(75%, 75%);
	/* row-gap: 300px; */
}

.snow1Line {
	position: absolute;
	top: 60%;
	transform-origin: left center;
	white-space: nowrap;
	font-size: 16px;
}

.snow2 {
	display: flex;
	flex-direction: column;
	row-gap: 300px;
}

.snow2Word {
	position: absolute;
	transform-origin: left center;
	white-space: nowrap;
	font-size: 16px;
}

.snow3Line {
	text-emphasis-position: under right;
	text-emphasis-style: sesame;
}

.snow4Line {
	text-emphasis-position: under right;
}

.about {
	display: flex;
	flex-direction: column;
}
